@import "../../scss/mixins";

.nowplaying {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    background: #1d1d1d;
    color: #fff;
    z-index: 1;

    &--left-control {
        display: flex;
        flex: none;
        align-items: center;
        padding-right: 20px;
        button {
            width: 40px;
            height: 40px;
            color: #fff;
            cursor: pointer;
        }
    }
    &-content--duration {
        @include mobile-l {
            display: none;
        }
    }
    &-content {
        display: flex;
        flex: 1;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        &--thumbnail {
            flex: none;
            width: 48px;
            height: 48px;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 100%;
            }
        }
        &--info {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding: 0 15px;
            &__title {
                padding-bottom: 5px;
                font-weight: 700;
                @include skiptext;
            }
            &__artist {
                @include skiptext;
                color: #aaa;
            }
        }
    }
    &--rtight-control {
        display: inline-flex;
        flex: none;
    }
    .hidden {
        // display: none;
        position: absolute;
        top: -500px;
        left: 0;
        // top: -99999px;
        // left: -99999px;
        width: 1px;
        height: 1px;
    }
}
