.music-input {
    padding: 20px 0;
    background: #666;
    color: #fff;
    label {
        span {
            font-size: 18px;
        }
        input {
            color: #fff;
            border: none;
        }
    }
}
