.now-list {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    padding: 110px 50px 75px;
    background-color: #000;
    .cover {
        flex: 4;
        width: 40%;
    }
    .music-content {
        flex: 3;
        width: 40%;
    }
}
