.now-list {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    padding: 110px 50px 75px;
    background-color: #000;
    .cover {
        flex: 4;
        box-sizing: border-box;
        width: 40%;
        padding-right: 50px;
        .cover-img {
            position: relative;
            height: 100%;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
            }
        }
    }
    .music-content {
        flex: 3;
        width: 40%;
    }
}
