@import "../../scss/mixins";

.now-list {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    padding: 110px 50px 75px;
    background-color: #000;
    @include tablet-m {
        flex-direction: column;
        height: 100%;
        padding: 110px 25px 75px;
    }
    @include mobile-l {
        padding: 110px 0 75px;
    }
    .cover {
        flex: 4;
        box-sizing: border-box;
        width: 40%;
        padding-right: 50px;
        .cover-img {
            position: relative;
            height: 100%;
            @include tablet-m {
                height: auto;
                padding-bottom: 100%;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
            }
        }
        @include tablet-m {
            width: 100%;
            box-sizing: border-box;
            flex: none;
            padding-right: 0;
        }
    }
    .music-content {
        flex: 3;
        width: 40%;
        @include tablet-m {
            width: 100%;
            height: 500px;
            flex: none;
        }
    }
}
